bin
obj
TestResults
*.psess
*.vsp
*.testsettings
*.suo
*.vsmdi
*.user
*.ctl
*.vs
*.ide
*.ncrunchproject
*.ncrunchsolution
*.cache
*.vscode

/src/_NCrunch_DataLinq
/src/DataLinq.Tests/*.db
*nCrunchTemp_*.csproj
launchSettings.json
/nupkg
/api
/src/DataLinq.Benchmark/BenchmarkDotNet.Artifacts
*.user.json
/logs
/src/.idea
/src/qodana.yaml
/repomix-output.txt
/repomix-output.xml